In [19]:
from statsmodels.regression.quantile_regression import QuantReg
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_pinball_loss
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

## Read Train and Test Data

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

## Check for Missing values and replace with the most frequent value

In [3]:
train.isnull().sum()

id                 0
wi                 0
year               0
month              0
age                0
education          0
familysize         0
urban              0
race               0
region          6994
state          95742
marital            0
occupation    233483
income             0
expense            0
dtype: int64

In [4]:
train = train.fillna(train.mode().iloc[0].astype('int64'))
train.isnull().sum()
train.dtypes

id              int64
wi            float64
year            int64
month           int64
age             int64
education       int64
familysize      int64
urban           int64
race            int64
region        float64
state         float64
marital         int64
occupation    float64
income          int64
expense         int64
dtype: object

In [5]:
col_types={'region':'int64','state':'int64','occupation':'int64'}
train = train.astype(col_types)

In [6]:
test.isnull().sum()

id                0
year              0
month             0
age               0
education         0
familysize        0
urban             0
race              0
region         1826
state         24016
marital           0
occupation    58171
income            0
dtype: int64

In [7]:
test = test.fillna(test.mode().iloc[0].astype('int64'))
test.isnull().sum()
test.dtypes

id              int64
year            int64
month           int64
age             int64
education       int64
familysize      int64
urban           int64
race            int64
region        float64
state         float64
marital         int64
occupation    float64
income          int64
dtype: object

In [8]:
col_types={'region':'int64','state':'int64','occupation':'int64'}
test = test.astype(col_types)

## Identify categorical, ordinal and numeric columns

In [9]:
columns = train.columns
columns  = columns.to_list()
categorical_columns=['urban','race','region','state','marital','occupation']
ordinal_columns=['education']
numeric_columns=['age','familysize','income']
weight_column=['wi']
target=['expense']
id_column=['id']
columns

['id',
 'wi',
 'year',
 'month',
 'age',
 'education',
 'familysize',
 'urban',
 'race',
 'region',
 'state',
 'marital',
 'occupation',
 'income',
 'expense']

## Convert types of various columns in train and test data

In [10]:
#Convert cateogrical columns to 'category' type
cat_types={c:'category' for c in categorical_columns}
train = train.astype(cat_types)
#Convert ordinal column to category type
train['education'] = train['education'].astype('category')
#Get different categories for ordinal column
train_ord_categories = train.education.unique().tolist()
train_ord_categories.sort()
train['education'] = train['education'].cat.set_categories(train_ord_categories,ordered=True)

In [11]:
#Convert cateogrical columns to 'category' type
cat_types={c:'category' for c in categorical_columns}
test = test.astype(cat_types)
#Convert ordinal column to category type
test['education'] = test['education'].astype('category')
#Get different categories for ordinal column
test_ord_categories = test.education.unique().tolist()
test_ord_categories.sort()
test['education'] = test['education'].cat.set_categories(test_ord_categories,ordered=True)
test.dtypes

id               int64
year             int64
month            int64
age              int64
education     category
familysize       int64
urban         category
race          category
region        category
state         category
marital       category
occupation    category
income           int64
dtype: object

## Create dummy categorical columns for all categorical variables in train

In [12]:
train_cat_dummies = pd.get_dummies(train[categorical_columns])
new_cat_columns=train_cat_dummies.columns.to_list()
train = pd.concat([train,train_cat_dummies],axis=1)
train.drop(categorical_columns,inplace=True,axis=1)
train.drop(['year','month'],inplace=True,axis=1)
train['education']=train['education'].cat.codes
train

,id,wi,age,education,familysize,income,expense,urban_1,urban_2,race_1,...,occupation_9,occupation_10,occupation_11,occupation_12,occupation_13,occupation_14,occupation_15,occupation_16,occupation_17,occupation_18
0,1,2831.0,50,3,3,13141,2398,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1941.0,23,4,1,0,575,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3,1369.0,56,6,4,459,1592,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,816.0,59,8,2,17474,3443,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,3064.0,51,6,2,39395,1484,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741869,741870,1515.0,66,7,2,7780,9670,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741870,741871,1544.0,25,5,1,12528,1146,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741871,741872,2702.0,56,6,2,37435,3077,1,0,0,...,0,0,0,0,0,0,0,0,0,0
741872,741873,1310.0,48,6,5,54714,6566,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741873,741874,1871.0,39,3,3,16190,3338,1,0,1,...,0,1,0,0,0,0,0,0,0,0

## Create dummy categorical columns for all categorical variables in test

In [13]:
test_cat_dummies = pd.get_dummies(test[categorical_columns])
test_new_cat_columns=test_cat_dummies.columns.to_list()
test = pd.concat([test,test_cat_dummies],axis=1)
test.drop(categorical_columns,inplace=True,axis=1)
test.drop(['year','month'],inplace=True,axis=1)
test['education']=test['education'].cat.codes
test

,id,age,education,familysize,income,urban_1,urban_2,race_1,race_2,race_3,...,occupation_9,occupation_10,occupation_11,occupation_12,occupation_13,occupation_14,occupation_15,occupation_16,occupation_17,occupation_18
0,741875,49,4,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,741876,29,3,4,11628,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,741877,22,4,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,741878,78,3,2,13413,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,741879,25,6,2,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185464,927339,51,4,2,20957,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185465,927340,70,2,1,3843,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
185466,927341,58,6,1,15598,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185467,927342,35,4,5,10138,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185468,927343,66,3,2,2046,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Standardize numerical columns in train

In [14]:
for c in numeric_columns:
    train[c] = (train[c]-train[c].mean())/train[c].std()
train

,id,wi,age,education,familysize,income,expense,urban_1,urban_2,race_1,...,occupation_9,occupation_10,occupation_11,occupation_12,occupation_13,occupation_14,occupation_15,occupation_16,occupation_17,occupation_18
0,1,2831.0,0.016812,3,0.321927,-0.287200,2398,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1941.0,-1.538223,4,-1.010164,-0.995756,575,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3,1369.0,0.362376,6,0.987973,-0.971007,1592,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,816.0,0.535157,8,-0.344119,-0.053567,3443,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,3064.0,0.074406,6,-0.344119,1.128403,1484,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741869,741870,1515.0,0.938314,7,-0.344119,-0.576263,9670,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741870,741871,1544.0,-1.423035,5,-1.010164,-0.320253,1146,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741871,741872,2702.0,0.362376,6,-0.344119,1.022721,3077,1,0,0,...,0,0,0,0,0,0,0,0,0,0
741872,741873,1310.0,-0.098375,6,1.654018,1.954396,6566,1,0,1,...,0,0,0,0,0,0,0,0,0,0
741873,741874,1871.0,-0.616720,3,0.321927,-0.122799,3338,1,0,1,...,0,1,0,0,0,0,0,0,0,0

## Standardize numerical columns in test

In [15]:
for c in numeric_columns:
    test[c] = (test[c]-test[c].mean())/test[c].std()
test

,id,age,education,familysize,income,urban_1,urban_2,race_1,race_2,race_3,...,occupation_9,occupation_10,occupation_11,occupation_12,occupation_13,occupation_14,occupation_15,occupation_16,occupation_17,occupation_18
0,741875,-0.035942,4,-1.011089,-0.994219,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,741876,-1.183839,3,0.992162,-0.368123,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,741877,-1.585604,4,-1.011089,-0.994219,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,741878,1.628510,3,-0.343339,-0.272012,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,741879,-1.413419,6,-0.343339,-0.994219,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185464,927339,0.078848,4,-0.343339,0.134186,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185465,927340,1.169351,2,-1.011089,-0.787298,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
185466,927341,0.480612,6,-1.011089,-0.154363,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185467,927342,-0.839470,4,1.659912,-0.448351,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
185468,927343,0.939771,3,-0.343339,-0.884055,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Create Train and Validation

In [16]:
columns = train.columns.to_list()
from sklearn.model_selection import train_test_split
a_train,a_validation = train_test_split(train,test_size=0.2)
train = pd.DataFrame(a_train,columns=columns)
validation = pd.DataFrame(a_validation,columns=columns)

## Create X_train, y_train, X_val, y_val

In [24]:
X_train = train[new_cat_columns+ordinal_columns+numeric_columns]
y_train = train[target]
sample_weights_train=train[weight_column].to_numpy()
sample_weights_train=sample_weights_train.reshape(-1)
X_val = validation[new_cat_columns+ordinal_columns+numeric_columns]
y_val = validation[target]
sample_weights_validation=validation[weight_column].to_numpy()
sample_weights_validation = sample_weights_validation.reshape(-1)

## Create X_test for final predictions

In [25]:
X_test = test[test_new_cat_columns+ordinal_columns+numeric_columns]
input_dims_test=X_test.shape[1]
print(input_dims_test)

84

## add constant term to X_train,X_val,X_test

In [26]:
X_train = sm.add_constant(X_train)
print(X_train)
X_val = sm.add_constant(X_val)
print(X_val)
X_test = sm.add_constant(X_test)
print(X_test)

        const  urban_1  urban_2  race_1  race_2  race_3  race_4  race_5  \
148357    1.0        1        0       1       0       0       0       0
444136    1.0        1        0       1       0       0       0       0
720759    1.0        1        0       0       0       0       0       0
401073    1.0        1        0       1       0       0       0       0
199128    1.0        1        0       1       0       0       0       0
...       ...      ...      ...     ...     ...     ...     ...     ...
125714    1.0        1        0       1       0       0       0       0
621810    1.0        1        0       1       0       0       0       0
633005    1.0        1        0       1       0       0       0       0
620498    1.0        1        0       1       0       0       0       0
644730    1.0        1        0       1       0       0       0       0

        race_6  region_1  ...  occupation_13  occupation_14  occupation_15  \
148357       0         0  ...              0              0              0
444136       0         0  ...              0              0              0
720759       1         1  ...              0              0              0
401073       0         0  ...              0              0              0
199128       0         0  ...              0              0              0
...        ...       ...  ...            ...            ...            ...
125714       0         0  ...              0              0              0
621810       0         1  ...              0              0              0
633005       0         0  ...              0              0              0
620498       0         0  ...              0              0              0
644730       0         1  ...              0              0              0

        occupation_16  occupation_17  occupation_18  education       age  \
148357              0              0              0          4  2.032598
444136              0              0              0          4  0.592751
720759              0              0              0          4 -0.731908
401073              0              0              0          3 -1.019878
199128              0              0              0          1  0.592751
...               ...            ...            ...        ...       ...
125714              0              0              0          1  0.880720
621810              0              0              0          6  0.535157
633005              0              0              0          7 -1.019878
620498              0              0              0          2 -1.019878
644730              0              0              0          6  1.053502

        familysize    income
148357   -0.344119 -0.486756
444136   -0.344119  3.006312
720759    0.321927 -0.676499
401073    0.987973  0.185944
199128   -1.010164 -0.879991
...            ...       ...
125714   -0.344119 -0.769025
621810    0.321927 -0.034425
633005    0.321927  0.526554
620498    0.987973 -0.386142
644730   -0.344119  0.065703

[593499 rows x 85 columns]
        const  urban_1  urban_2  race_1  race_2  race_3  race_4  race_5  \
454152    1.0        1        0       1       0       0       0       0
371518    1.0        1        0       1       0       0       0       0
671967    1.0        1        0       1       0       0       0       0
203775    1.0        1        0       0       0       0       0       0
574804    1.0        1        0       1       0       0       0       0
...       ...      ...      ...     ...     ...     ...     ...     ...
680711    1.0        1        0       1       0       0       0       0
490528    1.0        1        0       1       0       0       0       0
286753    1.0        1        0       1       0       0       0       0
241905    1.0        1        0       1       0       0       0       0
129103    1.0        1        0       1       0       0       0       0

        race_6  region_1  ...  occupation_13  occupation_14  occupation_15  \
454152       0         0  ...              0              0              0
371518       0         0  ...              0              0              0
671967       0         0  ...              0              0              0
203775       1         0  ...              0              0              0
574804       0         0  ...              0              0              0
...        ...       ...  ...            ...            ...            ...
680711       0         0  ...              0              0              0
490528       0         0  ...              0              0              0
286753       0         0  ...              0              0              0
241905       0         1  ...              0              0              0
129103       0         0  ...              0              0              0

        occupation_16  occupation_17  occupation_18  education       age  \
454152              0              0              0          3 -0.789502
371518              0              0              0          7  0.995908
671967              0              0              0          0  0.592751
203775              0              0              0          3  1.111096
574804              0              0              0          6 -0.443939
...               ...            ...            ...        ...       ...
680711              0              0              0          6 -0.789502
490528              0              0              0          6  0.707939
286753              0              0              0          6 -1.135065
241905              0              0              0          5 -0.559127
129103              0              0              1          6 -1.365441

        familysize    income
454152    0.321927 -0.099884
371518   -0.344119  1.392555
671967   -0.344119 -0.400323
203775   -0.344119 -0.943832
574804    0.987973 -0.124579
...            ...       ...
680711   -0.344119  3.054570
490528    0.321927  3.927150
286753    0.321927  0.934994
241905    0.321927  0.649814
129103   -0.344119  1.203513

[148375 rows x 85 columns]
        const  urban_1  urban_2  race_1  race_2  race_3  race_4  race_5  \
0         1.0        1        0       0       1       0       0       0
1         1.0        1        0       1       0       0       0       0
2         1.0        1        0       1       0       0       0       0
3         1.0        1        0       1       0       0       0       0
4         1.0        1        0       1       0       0       0       0
...       ...      ...      ...     ...     ...     ...     ...     ...
185464    1.0        0        1       1       0       0       0       0
185465    1.0        1        0       1       0       0       0       0
185466    1.0        1        0       1       0       0       0       0
185467    1.0        1        0       1       0       0       0       0
185468    1.0        1        0       1       0       0       0       0

        race_6  region_1  ...  occupation_13  occupation_14  occupation_15  \
0            0         1  ...              0              0              0
1            0         0  ...              0              0              0
2            0         0  ...              0              0              0
3            0         0  ...              0              0              0
4            0         0  ...              0              0              0
...        ...       ...  ...            ...            ...            ...
185464       0         0  ...              0              0              0
185465       0         1  ...              0              0              0
185466       0         0  ...              0              0              0
185467       0         0  ...              0              0              0
185468       0         0  ...              0              0              0

        occupation_16  occupation_17  occupation_18  education       age  \
0                   0              0              0          4 -0.035942
1                   0              0              0          3 -1.183839
2                   0              0              0          4 -1.585604
3                   0              0              0          3  1.628510
4                   0              0              0          6 -1.413419
...               ...            ...            ...        ...       ...
185464              0              0              0          4  0.078848
185465              0              0              0          2  1.169351
185466              0              0              0          6  0.480612
185467              0              0              0          4 -0.839470
185468              0              0              0          3  0.939771

        familysize    income
0        -1.011089 -0.994219
1         0.992162 -0.368123
2        -1.011089 -0.994219
3        -0.343339 -0.272012
4        -0.343339 -0.994219
...            ...       ...
185464   -0.343339  0.134186
185465   -1.011089 -0.787298
185466   -1.011089 -0.154363
185467    1.659912 -0.448351
185468   -0.343339 -0.884055

[185469 rows x 85 columns]

## Create models for each quantile

In [29]:
quantiles = [0.005,0.025,0.165,0.25,0.5,0.75,0.835,0.975,0.995]
models = {}
for index,q in enumerate(quantiles):
    models["q"+str(index+1)] = QuantReg(y_train,X_train)

## fit model for each quantile

In [30]:
results={}
for i,q in enumerate(models.keys()):
    print(f"fitting model for {q}")
    results[q]=models[q].fit(q=quantiles[i])
    print(results[q].summary())

fitting model for q1

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:            6.465e-05
Model:                       QuantReg   Bandwidth:                       120.4
Method:                 Least Squares   Sparsity:                        4679.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        19:48:03   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           -11.2203      2.792     -4.019      0.000     -16.692      -5.748
urban_1          -5.6101      2.347     -2.390      0.017     -10.211      -1.009
urban_2          -5.6101      3.170     -1.770      0.077     -11.824       0.603
race_1           -1.8700      4.015     -0.466      0.641      -9.739       5.999
race_2           -1.8700      4.629     -0.404      0.686     -10.942       7.202
race_3           -1.8700     11.717     -0.160      0.873     -24.835      21.095
race_4           -1.8700      5.185     -0.361      0.718     -12.033       8.293
race_5           -1.8700     14.764     -0.127      0.899     -30.806      27.066
race_6           -1.8700      9.036     -0.207      0.836     -19.580      15.840
region_1         -2.8051      7.810     -0.359      0.719     -18.112      12.502
region_2         -2.8051      4.558     -0.615      0.538     -11.738       6.128
region_3         -2.8051      3.905     -0.718      0.473     -10.459       4.849
region_4         -2.8051      4.188     -0.670      0.503     -11.013       5.403
state_1          24.3729      8.158      2.988      0.003       8.384      40.361
state_2          24.3729     10.509      2.319      0.020       3.775      44.971
state_4          24.3729      8.004      3.045      0.002       8.686      40.060
state_6          24.3729      3.962      6.152      0.000      16.608      32.138
state_8          24.3729      9.191      2.652      0.008       6.360      42.386
state_9          24.3729     11.984      2.034      0.042       0.884      47.862
state_10         24.3729     19.658      1.240      0.215     -14.156      62.902
state_11         24.3729     22.340      1.091      0.275     -19.413      68.159
state_12         24.3729      5.277      4.618      0.000      14.030      34.716
state_13         24.3729      6.796      3.586      0.000      11.053      37.693
state_15         24.3729      9.546      2.553      0.011       5.662      43.083
state_16         24.3729     13.466      1.810      0.070      -2.019      50.765
state_17         24.3729      7.039      3.462      0.001      10.576      38.169
state_18         24.3729     10.472      2.328      0.020       3.849      44.897
state_19        571.3729     54.384     10.506      0.000     464.783     677.963
state_20         24.3729     13.801      1.766      0.077      -2.677      51.423
state_21         24.3729      9.431      2.584      0.010       5.889      42.857
state_22         24.3729      8.085      3.015      0.003       8.527      40.219
state_23         24.3729     18.075      1.348      0.178     -11.054      59.800
state_24         24.3729      7.538      3.233      0.001       9.599      39.147
state_25         24.3729     10.773      2.262      0.024       3.258      45.488
state_26         24.3729      7.898      3.086      0.002       8.893      39.852
state_27         24.3729     10.538      2.313      0.021       3.719      45.027
state_28        214.3729     15.391     13.929      0.000     184.207     244.538
state_29         24.3729      9.610      2.536      0.011       5.537      43.209
state_31         24.3729     11.023      2.211      0.027       2.769      45.977
state_32         24.3729     11.286      2.160      0.031       2.253      46.493
state_33         24.3729     22.130      1.101      0.271     -19.000      67.746
state_34         24.3729     10.005      2.436      0.015       4.763      43.982
state_36         24.3729      9.390      2.595      0.009       5.968      42.778
state_37         24.3729      6.704      3.636      0.000      11.234      37.512
state_39         24.3729      7.448      3.272      0.001       9.775      38.971
state_40         24.3729     14.832      1.643      0.100      -4.697      53.443
state_41         24.3729      9.295      2.622      0.009       6.155      42.590
state_42         24.3729      9.287      2.624      0.009       6.170      42.576
state_44         24.3729     37.811      0.645      0.519     -49.736      98.481
state_45         24.3729      8.577      2.842      0.004       7.562      41.184
state_47         24.3729     10.566      2.307      0.021       3.664      45.082
state_48         24.3729      5.748      4.241      0.000      13.108      35.638
state_49         24.3729      9.294      2.622      0.009       6.156      42.589
state_50         24.3729     26.872      0.907      0.364     -28.296      77.042
state_51         24.3729      7.201      3.385      0.001      10.259      38.487
state_53         24.3729      8.503      2.866      0.004       7.707      41.039
state_54      -1820.6271     24.119    -75.486      0.000   -1867.899   -1773.355
state_55         24.3729      8.189      2.976      0.003       8.323      40.423
marital_1        -2.2441      2.134     -1.052      0.293      -6.427       1.939
marital_2        -2.2441      3.005     -0.747      0.455      -8.134       3.646
marital_3        -2.2441      2.609     -0.860      0.390      -7.358       2.870
marital_4        -2.2441      4.946     -0.454      0.650     -11.938       7.450
marital_5        -2.2441      2.602     -0.863      0.388      -7.343       2.855
occupation_1     -0.6233      4.121     -0.151      0.880      -8.701       7.455
occupation_2     -0.6233      5.806     -0.107      0.915     -12.003      10.757
occupation_3     -0.6233      2.788     -0.224      0.823      -6.088       4.842
occupation_4     -0.6233      4.825     -0.129      0.897     -10.080       8.833
occupation_5     -0.6233      5.293     -0.118      0.906     -10.997       9.750
occupation_6     -0.6233      5.698     -0.109      0.913     -11.792      10.545
occupation_7     -0.6233      5.904     -0.106      0.916     -12.194      10.948
occupation_8     -0.6233     10.725     -0.058      0.954     -21.643      20.396
occupation_9     -0.6233      9.756     -0.064      0.949     -19.744      18.497
occupation_10    -0.6233      3.728     -0.167      0.867      -7.929       6.683
occupation_11    -0.6233      5.354     -0.116      0.907     -11.118       9.871
occupation_12    -0.6233      6.606     -0.094      0.925     -13.572      12.325
occupation_13    -0.6233      6.600     -0.094      0.925     -13.560      12.313
occupation_14    -0.6233      9.602     -0.065      0.948     -19.444      18.197
occupation_15    -0.6233      7.528     -0.083      0.934     -15.378      14.131
occupation_16    -0.6233     13.468     -0.046      0.963     -27.020      25.773
occupation_17    -0.6233     22.487     -0.028      0.978     -44.698      43.451
occupation_18    -0.6233     17.356     -0.036      0.971     -34.641      33.394
education     -1.256e-08      0.639  -1.96e-08      1.000      -1.253       1.253
age            5.173e-09      1.287   4.02e-09      1.000      -2.522       2.522
familysize     1.257e-08      1.209   1.04e-08      1.000      -2.369       2.369
income        -1.247e-07      0.873  -1.43e-07      1.000      -1.710       1.710
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q2

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:             0.001111
Model:                       QuantReg   Bandwidth:                       89.71
Method:                 Least Squares   Sparsity:                        3802.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        19:53:07   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            28.4614      2.589     10.991      0.000      23.386      33.537
urban_1          14.2307      2.069      6.878      0.000      10.176      18.286
urban_2          14.2307      2.781      5.118      0.000       8.781      19.681
race_1            4.7436      3.591      1.321      0.186      -2.294      11.781
race_2            4.7436      4.098      1.158      0.247      -3.288      12.775
race_3            4.7436     10.362      0.458      0.647     -15.565      25.053
race_4            4.7436      4.657      1.019      0.308      -4.383      13.870
race_5            4.7436     13.510      0.351      0.725     -21.735      31.222
race_6            4.7436      7.855      0.604      0.546     -10.652      20.139
region_1          7.1154      6.902      1.031      0.303      -6.413      20.644
region_2          7.1154      4.002      1.778      0.075      -0.728      14.959
region_3          7.1154      3.425      2.078      0.038       0.403      13.828
region_4          7.1154      3.682      1.932      0.053      -0.101      14.332
state_1         -31.5009      7.377     -4.270      0.000     -45.959     -17.042
state_2         -31.5009      9.788     -3.218      0.001     -50.686     -12.316
state_4         -31.5009      7.124     -4.422      0.000     -45.463     -17.538
state_6         -31.5009      3.814     -8.258      0.000     -38.977     -24.025
state_8         -31.5009      8.215     -3.834      0.000     -47.603     -15.399
state_9         -31.5009     11.077     -2.844      0.004     -53.212      -9.790
state_10        -31.5009     18.035     -1.747      0.081     -66.848       3.847
state_11        -31.5009     19.257     -1.636      0.102     -69.245       6.243
state_12         53.4991      4.923     10.866      0.000      43.850      63.149
state_13        -31.5009      6.168     -5.107      0.000     -43.591     -19.411
state_15        -31.5009      9.194     -3.426      0.001     -49.520     -13.482
state_16        -31.5009     11.750     -2.681      0.007     -54.531      -8.471
state_17        -31.5009      6.383     -4.935      0.000     -44.012     -18.990
state_18        -31.5009      9.475     -3.325      0.001     -50.072     -12.930
state_19        531.4991     53.631      9.910      0.000     426.384     636.614
state_20         51.4991     11.773      4.374      0.000      28.424      74.575
state_21        -31.5009      8.184     -3.849      0.000     -47.541     -15.460
state_22        -31.5009      7.149     -4.406      0.000     -45.513     -17.489
state_23        -31.5009     19.061     -1.653      0.098     -68.859       5.857
state_24        -31.5009      7.278     -4.328      0.000     -45.766     -17.235
state_25        -31.5009      9.672     -3.257      0.001     -50.458     -12.544
state_26        -31.5009      7.149     -4.406      0.000     -45.513     -17.489
state_27        -31.5009      9.583     -3.287      0.001     -50.283     -12.719
state_28        261.4991     24.189     10.811      0.000     214.089     308.909
state_29        -31.5009      8.741     -3.604      0.000     -48.633     -14.369
state_31        -31.5009      9.560     -3.295      0.001     -50.238     -12.764
state_32        -31.5009      9.590     -3.285      0.001     -50.298     -12.704
state_33        -31.5009     21.339     -1.476      0.140     -73.324      10.322
state_34        -31.5009      8.946     -3.521      0.000     -49.034     -13.967
state_36        -31.5009      8.441     -3.732      0.000     -48.045     -14.957
state_37        195.4991      8.961     21.816      0.000     177.935     213.063
state_39        -31.5009      6.746     -4.670      0.000     -44.723     -18.279
state_40         -1.5009     13.114     -0.114      0.909     -27.204      24.202
state_41        -31.5009      8.622     -3.653      0.000     -48.400     -14.601
state_42        -31.5009      8.412     -3.745      0.000     -47.988     -15.014
state_44        133.4991     35.099      3.803      0.000      64.706     202.293
state_45        -31.5009      7.589     -4.151      0.000     -46.375     -16.627
state_47        -31.5009      9.352     -3.368      0.001     -49.830     -13.171
state_48        -31.5009      5.217     -6.038      0.000     -41.726     -21.276
state_49        -31.5009      8.194     -3.844      0.000     -47.561     -15.441
state_50        -31.5009     27.701     -1.137      0.255     -85.794      22.792
state_51        -31.5009      6.481     -4.861      0.000     -44.203     -18.798
state_53        -31.5009      8.081     -3.898      0.000     -47.339     -15.663
state_54        -31.5009     60.180     -0.523      0.601    -149.452      86.450
state_55        -31.5009      7.368     -4.275      0.000     -45.942     -17.060
marital_1       -24.5077      1.843    -13.299      0.000     -28.120     -20.896
marital_2       126.4923      2.665     47.469      0.000     121.269     131.715
marital_3       -24.5077      2.230    -10.992      0.000     -28.878     -20.138
marital_4       -24.5077      4.124     -5.942      0.000     -32.591     -16.424
marital_5       -24.5077      2.225    -11.016      0.000     -28.868     -20.147
occupation_1      1.4575      3.792      0.384      0.701      -5.974       8.889
occupation_2      1.4575      5.287      0.276      0.783      -8.904      11.819
occupation_3      1.4575      2.428      0.600      0.548      -3.302       6.217
occupation_4      1.4575      4.166      0.350      0.726      -6.707       9.622
occupation_5      1.4575      4.546      0.321      0.749      -7.453      10.368
occupation_6      1.4575      5.262      0.277      0.782      -8.855      11.770
occupation_7      1.4575      4.988      0.292      0.770      -8.320      11.235
occupation_8      1.4575      9.282      0.157      0.875     -16.735      19.650
occupation_9      1.4575      8.176      0.178      0.859     -14.567      17.482
occupation_10     1.4575      3.136      0.465      0.642      -4.688       7.603
occupation_11     3.3885      4.487      0.755      0.450      -5.406      12.183
occupation_12     1.4575      5.626      0.259      0.796      -9.569      12.484
occupation_13     1.4575      5.464      0.267      0.790      -9.251      12.166
occupation_14     1.4575      8.190      0.178      0.859     -14.594      17.509
occupation_15     1.4575      6.447      0.226      0.821     -11.178      14.093
occupation_16     1.7531     12.103      0.145      0.885     -21.968      25.474
occupation_17     1.4575     17.901      0.081      0.935     -33.628      36.543
occupation_18     1.4575     15.385      0.095      0.925     -28.697      31.612
education     -1.126e-07      0.575  -1.96e-07      1.000      -1.127       1.127
age            2.602e-07      1.131    2.3e-07      1.000      -2.217       2.217
familysize    -5.481e-09      1.073  -5.11e-09      1.000      -2.103       2.103
income        -1.467e-07      0.977   -1.5e-07      1.000      -1.915       1.915
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q3

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.1206
Model:                       QuantReg   Bandwidth:                       58.28
Method:                 Least Squares   Sparsity:                        2795.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        19:58:13   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           402.5565      3.980    101.151      0.000     394.756     410.357
urban_1         218.2124      3.268     66.781      0.000     211.808     224.617
urban_2         184.3441      4.514     40.839      0.000     175.497     193.191
race_1          125.3843      5.349     23.440      0.000     114.900     135.868
race_2           80.5040      6.251     12.879      0.000      68.253      92.755
race_3          -30.8792     15.945     -1.937      0.053     -62.131       0.373
race_4          -10.1241      7.462     -1.357      0.175     -24.750       4.501
race_5          142.5915     19.948      7.148      0.000     103.494     181.689
race_6           95.0801     11.489      8.275      0.000      72.561     117.599
region_1        100.8674     12.115      8.326      0.000      77.122     124.613
region_2         41.4002      6.356      6.514      0.000      28.943      53.857
region_3         47.1652      5.645      8.355      0.000      36.101      58.229
region_4        213.1238      6.186     34.455      0.000     201.000     225.247
state_1          43.1877     12.175      3.547      0.000      19.324      67.051
state_2          35.9750     13.728      2.621      0.009       9.068      62.882
state_4        -181.2314     11.181    -16.208      0.000    -203.147    -159.316
state_6         -63.8724      6.125    -10.427      0.000     -75.878     -51.867
state_8        -128.9366     13.274     -9.714      0.000    -154.952    -102.921
state_9         130.1966     17.927      7.262      0.000      95.059     165.334
state_10         33.6741     26.915      1.251      0.211     -19.079      86.427
state_11       -145.6825     27.507     -5.296      0.000    -199.596     -91.769
state_12          1.1730      8.158      0.144      0.886     -14.816      17.162
state_13        -64.6397      9.926     -6.512      0.000     -84.094     -45.185
state_15       -168.3198     14.236    -11.823      0.000    -196.222    -140.418
state_16       -198.4584     16.336    -12.149      0.000    -230.476    -166.440
state_17        124.8662      9.749     12.808      0.000     105.759     143.974
state_18        -76.0433     14.239     -5.341      0.000    -103.951     -48.136
state_19        179.0512     93.958      1.906      0.057      -5.104     363.206
state_20        221.5688     20.114     11.015      0.000     182.145     260.993
state_21         12.9132     13.028      0.991      0.322     -12.621      38.448
state_22        -10.6109     11.380     -0.932      0.351     -32.915      11.693
state_23       -137.1062     25.359     -5.407      0.000    -186.809     -87.404
state_24         44.7117     11.305      3.955      0.000      22.553      66.870
state_25        -10.3467     16.189     -0.639      0.523     -42.076      21.383
state_26         78.9562     10.863      7.268      0.000      57.664     100.248
state_27        146.5688     13.368     10.964      0.000     120.368     172.770
state_28        105.2136     41.503      2.535      0.011      23.868     186.559
state_29         72.7034     12.810      5.676      0.000      47.597      97.810
state_31         27.6737     15.065      1.837      0.066      -1.853      57.201
state_32        -47.3661     15.204     -3.115      0.002     -77.166     -17.566
state_33         67.4375     28.422      2.373      0.018      11.732     123.143
state_34        141.5848     15.314      9.245      0.000     111.570     171.600
state_36        -10.1632     14.471     -0.702      0.482     -38.525      18.199
state_37         89.9227     15.411      5.835      0.000      59.719     120.127
state_39         18.9797     10.257      1.850      0.064      -1.123      39.082
state_40         45.9045     22.428      2.047      0.041       1.947      89.862
state_41        -45.3736     12.449     -3.645      0.000     -69.773     -20.974
state_42        -15.8157     14.328     -1.104      0.270     -43.899      12.267
state_44         -9.4578     59.791     -0.158      0.874    -126.646     107.731
state_45        -26.6818     11.451     -2.330      0.020     -49.125      -4.239
state_47         14.8555     13.863      1.072      0.284     -12.315      42.026
state_48         56.7466      7.938      7.148      0.000      41.188      72.305
state_49        -50.0533     13.329     -3.755      0.000     -76.178     -23.929
state_50       -121.6509     42.212     -2.882      0.004    -204.385     -38.917
state_51         55.0798      9.991      5.513      0.000      35.497      74.663
state_53         20.2091     11.939      1.693      0.091      -3.190      43.608
state_54         52.2389     73.749      0.708      0.479     -92.307     196.785
state_55         92.9743     11.233      8.277      0.000      70.958     114.991
marital_1       237.7664      2.915     81.564      0.000     232.053     243.480
marital_2        74.0673      4.522     16.379      0.000      65.204      82.930
marital_3        70.6558      3.504     20.162      0.000      63.787      77.524
marital_4        55.2749      6.819      8.106      0.000      41.910      68.639
marital_5       -35.2079      3.560     -9.891      0.000     -42.185     -28.231
occupation_1    137.4427      5.340     25.738      0.000     126.977     147.909
occupation_2     42.0063      7.337      5.725      0.000      27.626      56.387
occupation_3    -15.8543      3.645     -4.349      0.000     -22.999      -8.710
occupation_4     64.1835      5.812     11.043      0.000      52.791      75.576
occupation_5     15.2235      6.772      2.248      0.025       1.951      28.496
occupation_6     76.4950      7.477     10.230      0.000      61.840      91.150
occupation_7     97.3942      7.310     13.324      0.000      83.067     111.721
occupation_8    135.6567     12.303     11.027      0.000     111.544     159.769
occupation_9    -55.1737     13.913     -3.966      0.000     -82.443     -27.904
occupation_10    12.1423      4.935      2.460      0.014       2.470      21.815
occupation_11    74.2931      7.624      9.745      0.000      59.350      89.236
occupation_12    91.8677      9.213      9.972      0.000      73.811     109.925
occupation_13   -84.4413      8.556     -9.870      0.000    -101.210     -67.672
occupation_14     7.4152     11.745      0.631      0.528     -15.604      30.435
occupation_15    -5.2293      9.240     -0.566      0.571     -23.339      12.881
occupation_16  -280.2549     21.070    -13.301      0.000    -321.551    -238.959
occupation_17  -127.7191     25.957     -4.921      0.000    -178.593     -76.845
occupation_18   217.1089     19.413     11.184      0.000     179.061     255.157
education        74.3105      0.929     80.028      0.000      72.491      76.130
age               9.0145      1.886      4.780      0.000       5.318      12.711
familysize      128.0901      1.810     70.751      0.000     124.542     131.639
income          565.8812      1.816    311.614      0.000     562.322     569.440
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q4

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.1530
Model:                       QuantReg   Bandwidth:                       58.30
Method:                 Least Squares   Sparsity:                        2333.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        19:59:28   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           490.2290      3.867    126.758      0.000     482.649     497.809
urban_1         267.6925      3.168     84.490      0.000     261.483     273.902
urban_2         222.5365      4.363     51.008      0.000     213.986     231.087
race_1          144.4456      5.218     27.683      0.000     134.219     154.673
race_2           92.9680      6.090     15.264      0.000      81.031     104.905
race_3          -37.7624     15.536     -2.431      0.015     -68.213      -7.312
race_4           -7.6128      7.259     -1.049      0.294     -21.841       6.615
race_5          178.1781     19.464      9.154      0.000     140.029     216.328
race_6          120.0125     11.184     10.731      0.000      98.093     141.932
region_1        124.6523     11.621     10.726      0.000     101.875     147.430
region_2         52.6984      6.159      8.557      0.000      40.627      64.769
region_3         52.9509      5.449      9.717      0.000      42.270      63.632
region_4        259.9275      5.941     43.754      0.000     248.284     271.571
state_1          53.8188     11.840      4.545      0.000      30.613      77.025
state_2          51.9933     13.339      3.898      0.000      25.850      78.137
state_4        -206.2321     10.857    -18.995      0.000    -227.512    -184.952
state_6         -63.8458      5.907    -10.808      0.000     -75.423     -52.268
state_8        -157.8700     12.896    -12.241      0.000    -183.147    -132.593
state_9         162.3138     17.317      9.373      0.000     128.373     196.255
state_10         75.7692     26.181      2.894      0.004      24.456     127.082
state_11       -111.1276     26.760     -4.153      0.000    -163.576     -58.679
state_12          5.0853      7.923      0.642      0.521     -10.444      20.614
state_13        -70.4603      9.644     -7.306      0.000     -89.363     -51.557
state_15       -179.9259     13.830    -13.009      0.000    -207.033    -152.819
state_16       -224.4945     15.884    -14.133      0.000    -255.627    -193.362
state_17        128.1145      9.475     13.521      0.000     109.544     146.685
state_18        -90.9214     13.852     -6.564      0.000    -118.071     -63.772
state_19        116.6253     91.084      1.280      0.200     -61.896     295.147
state_20        224.7795     19.573     11.484      0.000     186.417     263.142
state_21         15.0883     12.655      1.192      0.233      -9.715      39.892
state_22         -3.0182     11.065     -0.273      0.785     -24.706      18.670
state_23       -119.6143     24.609     -4.861      0.000    -167.847     -71.382
state_24         70.2575     10.990      6.393      0.000      48.717      91.798
state_25         -0.7527     15.607     -0.048      0.962     -31.342      29.837
state_26         85.5706     10.565      8.099      0.000      64.864     106.278
state_27        154.0699     13.004     11.848      0.000     128.582     179.558
state_28        109.0995     40.355      2.703      0.007      30.004     188.195
state_29         67.9002     12.458      5.450      0.000      43.483      92.317
state_31         66.3700     14.658      4.528      0.000      37.640      95.100
state_32        -48.8940     14.780     -3.308      0.001     -77.862     -19.926
state_33        116.1143     27.579      4.210      0.000      62.061     170.167
state_34        168.1246     14.739     11.407      0.000     139.237     197.012
state_36         -4.2564     13.916     -0.306      0.760     -31.530      23.018
state_37        105.7295     14.994      7.052      0.000      76.343     135.116
state_39         19.7020      9.962      1.978      0.048       0.177      39.227
state_40         34.0823     21.836      1.561      0.119      -8.716      76.881
state_41        -62.1243     12.093     -5.137      0.000     -85.825     -38.423
state_42        -21.9640     13.770     -1.595      0.111     -48.952       5.024
state_44        -72.4880     58.248     -1.244      0.213    -186.653      41.677
state_45        -14.4740     11.135     -1.300      0.194     -36.299       7.351
state_47         28.6333     13.475      2.125      0.034       2.222      55.045
state_48         73.9181      7.707      9.591      0.000      58.813      89.024
state_49        -49.0596     12.958     -3.786      0.000     -74.457     -23.663
state_50       -152.2669     40.952     -3.718      0.000    -232.531     -72.003
state_51         78.7389      9.709      8.110      0.000      59.709      97.769
state_53         34.3073     11.596      2.959      0.003      11.580      57.035
state_54         19.5033     71.538      0.273      0.785    -120.709     159.716
state_55         78.3097     10.922      7.170      0.000      56.902      99.717
marital_1       271.4520      2.833     95.803      0.000     265.899     277.005
marital_2        89.9012      4.395     20.454      0.000      81.287      98.516
marital_3        85.2876      3.412     24.995      0.000      78.600      91.975
marital_4        71.0249      6.637     10.701      0.000      58.017      84.033
marital_5       -27.4367      3.485     -7.872      0.000     -34.268     -20.606
occupation_1    157.8784      5.200     30.364      0.000     147.687     168.069
occupation_2     36.3782      7.146      5.091      0.000      22.373      50.384
occupation_3     -4.5844      3.542     -1.294      0.196     -11.526       2.357
occupation_4     72.1373      5.660     12.746      0.000      61.044      83.230
occupation_5     18.8690      6.596      2.861      0.004       5.941      31.797
occupation_6     78.8542      7.281     10.830      0.000      64.584      93.124
occupation_7     82.5871      7.119     11.601      0.000      68.634      96.540
occupation_8    162.5962     11.978     13.574      0.000     139.119     186.073
occupation_9    -42.0010     13.549     -3.100      0.002     -68.557     -15.445
occupation_10    18.0088      4.806      3.747      0.000       8.589      27.429
occupation_11    70.9080      7.427      9.548      0.000      56.352      85.464
occupation_12    89.0137      8.971      9.922      0.000      71.431     106.597
occupation_13   -88.9925      8.328    -10.686      0.000    -105.316     -72.669
occupation_14     6.7833     11.435      0.593      0.553     -15.630      29.196
occupation_15     3.7181      8.997      0.413      0.679     -13.916      21.352
occupation_16  -310.8337     20.499    -15.163      0.000    -351.011    -270.656
occupation_17  -137.4300     25.271     -5.438      0.000    -186.961     -87.899
occupation_18   276.3384     18.895     14.625      0.000     239.305     313.371
education        91.0508      0.899    101.248      0.000      89.288      92.813
age               1.3133      1.813      0.724      0.469      -2.240       4.867
familysize      147.2440      1.720     85.592      0.000     143.872     150.616
income          697.6746      1.703    409.657      0.000     694.337     701.013
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q5

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.2008
Model:                       QuantReg   Bandwidth:                       61.47
Method:                 Least Squares   Sparsity:                        2329.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        20:04:35   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           718.9659      4.447    161.672      0.000     710.250     727.682
urban_1         386.4638      3.603    107.252      0.000     379.401     393.526
urban_2         332.5021      4.932     67.416      0.000     322.835     342.169
race_1          192.6716      6.021     31.999      0.000     180.870     204.473
race_2          119.2345      7.021     16.982      0.000     105.473     132.996
race_3          -21.0408     17.922     -1.174      0.240     -56.167      14.085
race_4           10.5657      8.375      1.262      0.207      -5.849      26.980
race_5          222.2480     22.450      9.900      0.000     178.246     266.250
race_6          195.2870     12.887     15.153      0.000     170.028     220.546
region_1        203.6268     12.949     15.726      0.000     178.248     229.006
region_2         65.6608      7.014      9.361      0.000      51.914      79.408
region_3         75.6152      6.164     12.266      0.000      63.533      87.697
region_4        374.0632      6.605     56.630      0.000     361.117     387.010
state_1          57.2732     13.610      4.208      0.000      30.598      83.949
state_2          84.8231     15.305      5.542      0.000      54.825     114.821
state_4        -236.3491     12.427    -19.019      0.000    -260.706    -211.993
state_6         -61.0834      6.657     -9.175      0.000     -74.132     -48.035
state_8        -183.6047     14.791    -12.413      0.000    -212.595    -154.614
state_9         210.9141     19.611     10.755      0.000     172.477     249.351
state_10         93.8663     30.179      3.110      0.002      34.717     153.015
state_11        -28.4312     30.811     -0.923      0.356     -88.819      31.957
state_12         38.2612      9.081      4.213      0.000      20.463      56.059
state_13       -101.0700     11.064     -9.135      0.000    -122.755     -79.385
state_15       -222.4471     15.902    -13.989      0.000    -253.615    -191.279
state_16       -292.4776     18.244    -16.031      0.000    -328.236    -256.719
state_17        166.6622     10.875     15.325      0.000     145.348     187.977
state_18       -118.9311     15.940     -7.461      0.000    -150.173     -87.689
state_19         89.6542    104.674      0.857      0.392    -115.503     294.812
state_20        218.7967     22.532      9.710      0.000     174.634     262.959
state_21         -7.2018     14.535     -0.495      0.620     -35.689      21.286
state_22         -3.0724     12.714     -0.242      0.809     -27.992      21.847
state_23        -62.1852     28.105     -2.213      0.027    -117.269      -7.101
state_24        114.1094     12.625      9.038      0.000      89.364     138.855
state_25         19.9397     17.597      1.133      0.257     -14.549      54.429
state_26        128.0801     12.135     10.554      0.000     104.296     151.865
state_27        199.0000     14.950     13.311      0.000     169.698     228.302
state_28        126.7475     46.442      2.729      0.006      35.724     217.771
state_29         78.8124     14.321      5.503      0.000      50.744     106.881
state_31         68.0400     16.868      4.034      0.000      34.980     101.100
state_32        -79.1773     16.970     -4.666      0.000    -112.437     -45.918
state_33        150.4106     31.559      4.766      0.000      88.556     212.265
state_34        211.7982     16.567     12.785      0.000     179.328     244.268
state_36         -0.6805     15.596     -0.044      0.965     -31.248      29.887
state_37        133.6439     17.253      7.746      0.000      99.828     167.460
state_39         25.3927     11.414      2.225      0.026       3.021      47.765
state_40         49.1603     25.141      1.955      0.051      -0.115      98.435
state_41       -124.5914     13.867     -8.985      0.000    -151.771     -97.412
state_42        -60.5568     15.401     -3.932      0.000     -90.743     -30.371
state_44       -173.5296     66.955     -2.592      0.010    -304.759     -42.301
state_45        -22.5324     12.798     -1.761      0.078     -47.615       2.550
state_47         38.8528     15.479      2.510      0.012       8.514      69.191
state_48        127.6847      8.831     14.458      0.000     110.376     144.994
state_49        -26.3153     14.875     -1.769      0.077     -55.470       2.839
state_50       -266.5692     47.069     -5.663      0.000    -358.823    -174.316
state_51        143.3789     11.139     12.872      0.000     121.547     165.211
state_53         79.4914     13.285      5.984      0.000      53.454     105.529
state_54         38.6350     82.443      0.469      0.639    -122.950     200.220
state_55         96.3438     12.545      7.680      0.000      71.755     120.933
marital_1       375.8879      3.242    115.942      0.000     369.534     382.242
marital_2       106.3812      5.054     21.047      0.000      96.475     116.288
marital_3       118.2109      3.939     30.011      0.000     110.491     125.931
marital_4       125.6353      7.643     16.439      0.000     110.656     140.615
marital_5        -7.1494      4.049     -1.766      0.077     -15.085       0.786
occupation_1    193.3398      5.990     32.278      0.000     181.600     205.080
occupation_2     10.5760      8.225      1.286      0.199      -5.546      26.698
occupation_3     29.0294      4.065      7.142      0.000      21.063      36.996
occupation_4     66.6708      6.524     10.220      0.000      53.884      79.457
occupation_5     27.0053      7.606      3.551      0.000      12.098      41.913
occupation_6    131.2260      8.386     15.648      0.000     114.789     147.663
occupation_7     67.0259      8.207      8.167      0.000      50.941      83.110
occupation_8    162.5026     13.802     11.774      0.000     135.451     189.554
occupation_9    -48.9912     15.617     -3.137      0.002     -79.600     -18.383
occupation_10    20.8221      5.539      3.759      0.000       9.966      31.678
occupation_11    55.8628      8.556      6.529      0.000      39.092      72.633
occupation_12    96.7381     10.338      9.358      0.000      76.476     117.000
occupation_13  -101.5718      9.592    -10.589      0.000    -120.372     -82.771
occupation_14     3.3159     13.178      0.252      0.801     -22.513      29.145
occupation_15    31.3153     10.366      3.021      0.003      10.997      51.633
occupation_16  -247.0876     23.591    -10.474      0.000    -293.325    -200.851
occupation_17  -116.2181     29.107     -3.993      0.000    -173.267     -59.170
occupation_18   337.4046     21.749     15.513      0.000     294.777     380.032
education       131.1349      1.022    128.255      0.000     129.131     133.139
age               9.7772      2.035      4.806      0.000       5.790      13.765
familysize      190.1705      1.870    101.678      0.000     186.505     193.836
income         1030.0457      1.804    571.007      0.000    1026.510    1033.581
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q6

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.2189
Model:                       QuantReg   Bandwidth:                       56.49
Method:                 Least Squares   Sparsity:                        4408.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        20:09:41   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1022.9165      7.317    139.792      0.000    1008.575    1037.258
urban_1         534.5288      5.871     91.048      0.000     523.022     546.036
urban_2         488.3877      7.995     61.087      0.000     472.718     504.057
race_1          265.1287      9.902     26.775      0.000     245.721     284.536
race_2          146.4867     11.539     12.694      0.000     123.870     169.104
race_3           -0.4027     29.425     -0.014      0.989     -58.075      57.270
race_4           45.8260     13.765      3.329      0.001      18.846      72.806
race_5          304.3678     36.881      8.253      0.000     232.083     376.652
race_6          261.5100     21.129     12.377      0.000     220.099     302.921
region_1        290.6495     20.733     14.019      0.000     250.013     331.286
region_2         86.2435     11.410      7.559      0.000      63.881     108.606
region_3         95.7805      9.985      9.592      0.000      76.210     115.351
region_4        550.2430     10.574     52.039      0.000     529.519     570.967
state_1          72.1359     22.277      3.238      0.001      28.473     115.799
state_2         183.7909     25.038      7.341      0.000     134.718     232.864
state_4        -300.8669     20.287    -14.831      0.000    -340.628    -261.106
state_6         -83.3718     10.768     -7.743      0.000    -104.476     -62.267
state_8        -230.4017     24.176     -9.530      0.000    -277.787    -183.017
state_9         332.1945     31.784     10.452      0.000     269.899     394.490
state_10        139.7181     49.509      2.822      0.005      42.681     236.755
state_11         17.6159     50.528      0.349      0.727     -81.417     116.649
state_12         72.8681     14.833      4.913      0.000      43.796     101.940
state_13       -122.8702     18.089     -6.793      0.000    -158.324     -87.417
state_15       -331.3775     26.121    -12.686      0.000    -382.574    -280.180
state_16       -420.3383     29.841    -14.086      0.000    -478.826    -361.851
state_17        241.6443     17.776     13.594      0.000     206.803     276.485
state_18       -145.7957     26.100     -5.586      0.000    -196.951     -94.641
state_19        351.5681    172.072      2.043      0.041      14.312     688.824
state_20        241.1205     36.916      6.532      0.000     168.766     313.475
state_21        -66.0303     23.839     -2.770      0.006    -112.754     -19.306
state_22         15.9645     20.810      0.767      0.443     -24.822      56.751
state_23       -116.1351     45.826     -2.534      0.011    -205.952     -26.318
state_24        160.2028     20.656      7.756      0.000     119.717     200.689
state_25         21.7508     28.437      0.765      0.444     -33.984      77.486
state_26        149.2592     19.845      7.521      0.000     110.363     188.155
state_27        232.1697     24.469      9.488      0.000     184.211     280.129
state_28        324.0070     76.200      4.252      0.000     174.658     473.356
state_29         66.6341     23.437      2.843      0.004      20.699     112.569
state_31         69.0519     27.628      2.499      0.012      14.902     123.202
state_32       -133.3175     27.759     -4.803      0.000    -187.725     -78.910
state_33        101.4284     51.514      1.969      0.049       0.462     202.395
state_34        251.9290     26.706      9.434      0.000     199.587     304.271
state_36         56.0841     25.097      2.235      0.025       6.896     105.272
state_37        189.7767     28.259      6.716      0.000     134.390     245.163
state_39          8.9481     18.654      0.480      0.631     -27.613      45.509
state_40         76.0459     41.218      1.845      0.065      -4.740     156.831
state_41       -224.6239     22.666     -9.910      0.000    -269.048    -180.200
state_42       -135.4191     24.743     -5.473      0.000    -183.915     -86.923
state_44       -128.3901    109.770     -1.170      0.242    -343.537      86.756
state_45        -30.9536     20.946     -1.478      0.139     -72.007      10.100
state_47         -3.6581     25.349     -0.144      0.885     -53.341      46.025
state_48        172.5130     14.428     11.957      0.000     144.235     200.791
state_49         -0.3380     24.336     -0.014      0.989     -48.037      47.361
state_50       -348.9389     77.123     -4.524      0.000    -500.098    -197.780
state_51        223.5478     18.204     12.280      0.000     187.869     259.227
state_53         33.0573     21.701      1.523      0.128      -9.475      75.590
state_54        -43.1008    135.151     -0.319      0.750    -307.992     221.790
state_55         83.8175     20.518      4.085      0.000      43.604     124.031
marital_1       533.0801      5.307    100.457      0.000     522.679     543.481
marital_2       142.0934      8.306     17.108      0.000     125.815     158.372
marital_3       147.4185      6.474     22.770      0.000     134.729     160.108
marital_4       182.9308     12.524     14.607      0.000     158.385     207.477
marital_5        17.3937      6.630      2.624      0.009       4.399      30.388
occupation_1    235.8674      9.821     24.017      0.000     216.619     255.116
occupation_2    -48.6571     13.488     -3.607      0.000     -75.093     -22.221
occupation_3     81.8253      6.643     12.317      0.000      68.804      94.846
occupation_4     63.5045     10.699      5.936      0.000      42.535      84.474
occupation_5     63.2567     12.474      5.071      0.000      38.808      87.705
occupation_6    151.5755     13.742     11.030      0.000     124.642     178.509
occupation_7     17.4600     13.460      1.297      0.195      -8.921      43.841
occupation_8    152.6163     22.626      6.745      0.000     108.270     196.963
occupation_9    -68.4015     25.611     -2.671      0.008    -118.597     -18.206
occupation_10    23.6876      9.083      2.608      0.009       5.885      41.490
occupation_11    49.0865     14.025      3.500      0.000      21.597      76.576
occupation_12   118.2640     16.951      6.977      0.000      85.041     151.487
occupation_13   -99.3372     15.716     -6.321      0.000    -130.139     -68.535
occupation_14   -42.0183     21.603     -1.945      0.052     -84.359       0.322
occupation_15   100.3723     16.991      5.907      0.000      67.071     133.673
occupation_16  -126.2911     38.644     -3.268      0.001    -202.032     -50.550
occupation_17   -84.9157     47.734     -1.779      0.075    -178.472       8.641
occupation_18   435.0214     35.628     12.210      0.000     365.191     504.852
education       197.9342      1.683    117.629      0.000     194.636     201.232
age              53.7254      3.268     16.442      0.000      47.321      60.130
familysize      236.6269      2.985     79.284      0.000     230.777     242.476
income         1499.7353      2.959    506.762      0.000    1493.935    1505.536
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q7

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.2187
Model:                       QuantReg   Bandwidth:                       60.52
Method:                 Least Squares   Sparsity:                        7195.
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        20:14:49   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1198.6149     10.292    116.458      0.000    1178.442    1218.787
urban_1         621.0585      8.241     75.362      0.000     604.906     637.211
urban_2         577.5564     11.197     51.580      0.000     555.610     599.503
race_1          326.7019     13.859     23.573      0.000     299.538     353.866
race_2          159.4409     16.162      9.865      0.000     127.763     191.119
race_3           20.1053     41.197      0.488      0.626     -60.639     100.850
race_4          129.1745     19.275      6.702      0.000      91.397     166.952
race_5          266.9092     51.635      5.169      0.000     165.706     368.113
race_6          296.2831     29.543     10.029      0.000     238.380     354.186
region_1        313.1961     28.641     10.935      0.000     257.061     369.331
region_2        126.2832     15.889      7.948      0.000      95.141     157.426
region_3        106.6724     13.875      7.688      0.000      79.477     133.868
region_4        652.4632     14.711     44.352      0.000     623.630     681.296
state_1          61.6688     31.141      1.980      0.048       0.634     122.704
state_2         180.2654     35.018      5.148      0.000     111.632     248.899
state_4        -376.8132     28.359    -13.287      0.000    -432.397    -321.230
state_6         -98.7475     15.034     -6.568      0.000    -128.213     -69.282
state_8        -231.3805     33.815     -6.843      0.000    -297.656    -165.105
state_9         480.1732     44.207     10.862      0.000     393.530     566.817
state_10        229.3078     69.237      3.312      0.001      93.605     365.011
state_11        -81.2796     70.754     -1.149      0.251    -219.955      57.396
state_12         74.8175     20.715      3.612      0.000      34.218     115.417
state_13       -153.4330     25.285     -6.068      0.000    -202.990    -103.875
state_15       -411.9762     36.619    -11.250      0.000    -483.748    -340.205
state_16       -494.5862     41.749    -11.847      0.000    -576.413    -412.759
state_17        247.3165     24.837      9.957      0.000     198.636     295.997
state_18       -148.3406     36.510     -4.063      0.000    -219.898     -76.783
state_19        718.1043    241.839      2.969      0.003     244.107    1192.102
state_20        225.5242     51.656      4.366      0.000     124.280     326.768
state_21        -77.6430     33.372     -2.327      0.020    -143.051     -12.235
state_22          4.1801     29.101      0.144      0.886     -52.856      61.216
state_23        -92.3258     63.952     -1.444      0.149    -217.669      33.017
state_24        122.9383     28.880      4.257      0.000      66.334     179.543
state_25         16.7352     39.491      0.424      0.672     -60.666      94.136
state_26        112.9106     27.728      4.072      0.000      58.565     167.256
state_27        283.2475     34.213      8.279      0.000     216.190     350.305
state_28        333.0171    106.772      3.119      0.002     123.748     542.287
state_29         37.9671     32.763      1.159      0.247     -26.247     102.182
state_31         34.2691     38.638      0.887      0.375     -41.459     109.998
state_32       -194.6580     38.837     -5.012      0.000    -270.778    -118.538
state_33         98.2633     71.946      1.366      0.172     -42.748     239.275
state_34        288.6790     37.036      7.795      0.000     216.090     361.268
state_36         82.0520     34.775      2.360      0.018      13.894     150.210
state_37        180.9054     39.524      4.577      0.000     103.439     258.372
state_39        -29.4471     26.040     -1.131      0.258     -80.486      21.591
state_40        142.4018     57.660      2.470      0.014      29.391     255.413
state_41       -273.2184     31.705     -8.617      0.000    -335.360    -211.077
state_42       -159.0744     34.247     -4.645      0.000    -226.197     -91.952
state_44          3.5158    153.345      0.023      0.982    -297.036     304.068
state_45        -46.6532     29.281     -1.593      0.111    -104.043      10.737
state_47        -54.1342     35.442     -1.527      0.127    -123.599      15.331
state_48        183.4845     20.150      9.106      0.000     143.992     222.977
state_49        105.9097     34.044      3.111      0.002      39.184     172.635
state_50       -285.3530    107.853     -2.646      0.008    -496.742     -73.964
state_51        252.7784     25.446      9.934      0.000     202.906     302.651
state_53          7.9374     30.348      0.262      0.794     -51.543      67.418
state_54       -175.0345    189.842     -0.922      0.357    -547.118     197.049
state_55         74.3431     28.675      2.593      0.010      18.141     130.545
marital_1       630.7608      7.438     84.804      0.000     616.183     645.339
marital_2       165.0585     11.645     14.174      0.000     142.234     187.883
marital_3       149.2506      9.071     16.453      0.000     131.471     167.030
marital_4       225.1761     17.521     12.852      0.000     190.836     259.516
marital_5        28.3688      9.259      3.064      0.002      10.222      46.516
occupation_1    264.9466     13.735     19.290      0.000     238.027     291.866
occupation_2   -109.7805     18.890     -5.811      0.000    -146.805     -72.756
occupation_3    123.9499      9.269     13.372      0.000     105.782     142.117
occupation_4     43.6059     14.971      2.913      0.004      14.264      72.948
occupation_5     46.7498     17.452      2.679      0.007      12.544      80.956
occupation_6    147.2926     19.226      7.661      0.000     109.610     184.975
occupation_7    -26.8600     18.834     -1.426      0.154     -63.774      10.054
occupation_8    125.5890     31.660      3.967      0.000      63.536     187.642
occupation_9    -43.2369     35.839     -1.206      0.228    -113.480      27.006
occupation_10    43.4048     12.711      3.415      0.001      18.491      68.319
occupation_11    29.1814     19.628      1.487      0.137      -9.290      67.652
occupation_12   117.0198     23.719      4.934      0.000      70.530     163.509
occupation_13   -91.7457     21.987     -4.173      0.000    -134.840     -48.652
occupation_14   -20.0189     30.230     -0.662      0.508     -79.268      39.230
occupation_15   138.7785     23.768      5.839      0.000      92.193     185.364
occupation_16   -59.4601     54.050     -1.100      0.271    -165.396      46.475
occupation_17   -45.3024     66.795     -0.678      0.498    -176.218      85.613
occupation_18   514.5010     49.833     10.325      0.000     416.830     612.172
education       246.5271      2.374    103.837      0.000     241.874     251.180
age              84.3572      4.544     18.563      0.000      75.450      93.264
familysize      255.2623      4.190     60.918      0.000     247.050     263.475
income         1802.7948      4.270    422.244      0.000    1794.427    1811.163
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q8

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\quantile_regression.py:191: IterationLimitWarning: Maximum number of iterations (1000) reached.
  warnings.warn("Maximum number of iterations (" + str(max_iter) +
C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.2043
Model:                       QuantReg   Bandwidth:                       186.8
Method:                 Least Squares   Sparsity:                    9.970e+04
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        20:19:56   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          2640.6033     61.167     43.170      0.000    2520.717    2760.490
urban_1        1315.0247     48.977     26.850      0.000    1219.032    1411.018
urban_2        1325.5785     66.386     19.968      0.000    1195.465    1455.693
race_1          887.7659     80.172     11.073      0.000     730.631    1044.901
race_2          118.9154     93.727      1.269      0.205     -64.786     302.617
race_3           88.3622    241.539      0.366      0.714    -385.046     561.771
race_4          742.9167    112.972      6.576      0.000     521.495     964.338
race_5           30.0758    301.010      0.100      0.920    -559.894     620.045
race_6          772.5673    172.824      4.470      0.000     433.838    1111.296
region_1        596.2532    164.719      3.620      0.000     273.409     919.098
region_2       1126.6228     92.754     12.146      0.000     944.828    1308.417
region_3         -2.3027     80.761     -0.029      0.977    -160.592     155.986
region_4        920.0299     86.372     10.652      0.000     750.743    1089.317
state_1          28.4562    181.683      0.157      0.876    -327.637     384.550
state_2         309.9999    204.738      1.514      0.130     -91.279     711.279
state_4        -605.5346    165.771     -3.653      0.000    -930.440    -280.629
state_6        -251.9111     87.993     -2.863      0.004    -424.374     -79.448
state_8        -270.9113    197.707     -1.370      0.171    -658.410     116.587
state_9        1293.1720    256.460      5.042      0.000     790.520    1795.824
state_10        -76.2235    407.891     -0.187      0.852    -875.677     723.230
state_11       -447.5889    412.593     -1.085      0.278   -1256.258     361.080
state_12        143.5299    120.741      1.189      0.235     -93.119     380.179
state_13       -483.7207    147.511     -3.279      0.001    -772.838    -194.603
state_15       -567.7050    214.009     -2.653      0.008    -987.156    -148.254
state_16       -119.3563    243.628     -0.490      0.624    -596.859     358.147
state_17       -522.1178    145.123     -3.598      0.000    -806.555    -237.681
state_18      -1448.9709    213.551     -6.785      0.000   -1867.524   -1030.417
state_19       6312.6983   1404.855      4.493      0.000    3559.228    9066.169
state_20       -821.9480    302.664     -2.716      0.007   -1415.160    -228.736
state_21       -315.6583    195.729     -1.613      0.107    -699.280      67.964
state_22        -29.9346    169.699     -0.176      0.860    -362.538     302.669
state_23       -263.0751    373.357     -0.705      0.481    -994.843     468.693
state_24       -159.3023    168.721     -0.944      0.345    -489.990     171.385
state_25       -145.0865    228.805     -0.634      0.526    -593.538     303.365
state_26      -1198.8304    162.062     -7.397      0.000   -1516.467    -881.194
state_27          2.4613    199.829      0.012      0.990    -389.198     394.121
state_28       1032.5028    633.550      1.630      0.103    -209.235    2274.241
state_29       -885.5534    191.238     -4.631      0.000   -1260.373    -510.734
state_31      -1175.5661    225.321     -5.217      0.000   -1617.187    -733.945
state_32        173.5155    226.732      0.765      0.444    -270.872     617.903
state_33        782.8750    418.337      1.871      0.061     -37.052    1602.802
state_34        565.3303    212.762      2.657      0.008     148.323     982.337
state_36       -245.9104    201.056     -1.223      0.221    -639.973     148.152
state_37        396.6771    230.388      1.722      0.085     -54.876     848.230
state_39      -1146.7796    152.493     -7.520      0.000   -1445.660    -847.899
state_40        980.7782    338.579      2.897      0.004     317.175    1644.381
state_41       -449.5512    185.354     -2.425      0.015    -812.839     -86.263
state_42       -527.3241    198.570     -2.656      0.008    -916.514    -138.134
state_44       4907.3482    916.477      5.355      0.000    3111.082    6703.615
state_45       -126.8340    170.784     -0.743      0.458    -461.566     207.898
state_47        105.7262    206.858      0.511      0.609    -299.709     511.161
state_48          4.6267    117.521      0.039      0.969    -225.711     234.964
state_49        155.8138    199.516      0.781      0.435    -235.230     546.858
state_50       -112.0753    642.033     -0.175      0.861   -1370.439    1146.289
state_51        324.3282    148.565      2.183      0.029      33.146     615.510
state_53       -117.8797    177.484     -0.664      0.507    -465.742     229.983
state_54      -1651.9102   1123.909     -1.470      0.142   -3854.736     550.915
state_55       -711.9769    167.511     -4.250      0.000   -1040.293    -383.661
marital_1      1617.6734     43.062     37.566      0.000    1533.272    1702.074
marital_2       338.6739     68.337      4.956      0.000     204.735     472.613
marital_3       121.4178     53.457      2.271      0.023      16.643     226.193
marital_4       406.3188    101.988      3.984      0.000     206.425     606.213
marital_5       156.5193     52.779      2.966      0.003      53.075     259.964
occupation_1    746.9659     79.764      9.365      0.000     590.632     903.300
occupation_2   -527.4612    110.951     -4.754      0.000    -744.922    -310.001
occupation_3    600.5997     53.652     11.194      0.000     495.444     705.756
occupation_4   -193.7680     87.521     -2.214      0.027    -365.306     -22.230
occupation_5     35.9645    101.762      0.353      0.724    -163.486     235.415
occupation_6    361.0665    112.267      3.216      0.001     141.026     581.107
occupation_7   -309.7680    110.075     -2.814      0.005    -525.511     -94.026
occupation_8    -16.2270    184.585     -0.088      0.930    -378.009     345.555
occupation_9     -1.6671    208.593     -0.008      0.994    -410.503     407.169
occupation_10    76.4662     74.274      1.030      0.303     -69.109     222.041
occupation_11   -28.0312    114.518     -0.245      0.807    -252.483     196.420
occupation_12   181.0679    138.394      1.308      0.191     -90.180     452.316
occupation_13   -32.6711    128.469     -0.254      0.799    -284.467     219.125
occupation_14    10.4936    176.811      0.059      0.953    -336.050     357.037
occupation_15   319.5488    138.749      2.303      0.021      47.606     591.492
occupation_16    22.9513    316.257      0.073      0.942    -596.902     642.805
occupation_17    72.4215    388.285      0.187      0.852    -688.604     833.448
occupation_18  1322.6510    290.245      4.557      0.000     753.780    1891.522
education       639.8148     14.336     44.630      0.000     611.716     667.913
age             195.1669     26.535      7.355      0.000     143.159     247.175
familysize      208.5040     25.157      8.288      0.000     159.198     257.810
income         4459.4884     28.366    157.212      0.000    4403.892    4515.085
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
fitting model for q9
                         QuantReg Regression Results
==============================================================================
Dep. Variable:                expense   Pseudo R-squared:               0.2116
Model:                       QuantReg   Bandwidth:                       314.8
Method:                 Least Squares   Sparsity:                    7.916e+05
Date:                Thu, 08 Jun 2023   No. Observations:               593499
Time:                        20:24:19   Df Residuals:                   593420
                                        Df Model:                           78
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          6749.8995    224.203     30.106      0.000    6310.469    7189.330
urban_1        1909.3125    177.825     10.737      0.000    1560.782    2257.843
urban_2        4840.5870    235.090     20.590      0.000    4379.818    5301.356
race_1         1607.6505    287.079      5.600      0.000    1044.985    2170.316
race_2         -950.4702    338.849     -2.805      0.005   -1614.603    -286.337
race_3         1564.8022    872.196      1.794      0.073    -144.674    3274.278
race_4         2170.2572    413.856      5.244      0.000    1359.113    2981.401
race_5        -1652.3934   1101.272     -1.500      0.134   -3810.852     506.065
race_6         4010.0531    629.124      6.374      0.000    2776.991    5243.116
region_1       1179.0941    687.339      1.715      0.086    -168.068    2526.257
region_2       2507.8224    348.842      7.189      0.000    1824.103    3191.542
region_3       1240.1796    314.220      3.947      0.000     624.319    1856.040
region_4       1822.8034    331.240      5.503      0.000    1173.583    2472.024
state_1        -366.2256    667.471     -0.549      0.583   -1674.448     941.997
state_2         701.1789    750.965      0.934      0.350    -770.689    2173.047
state_4       -1331.3664    612.573     -2.173      0.030   -2531.990    -130.742
state_6        -858.7987    345.379     -2.487      0.013   -1535.731    -181.867
state_8       -1475.7541    724.506     -2.037      0.042   -2895.762     -55.746
state_9        3118.3414   1002.694      3.110      0.002    1153.094    5083.589
state_10      -2804.4494   1500.500     -1.869      0.062   -5745.382     136.483
state_11       -849.2477   1559.877     -0.544      0.586   -3906.556    2208.061
state_12        604.9768    456.422      1.325      0.185    -289.596    1499.549
state_13      -1660.8098    551.102     -3.014      0.003   -2740.953    -580.667
state_15        458.4479    774.853      0.592      0.554   -1060.239    1977.135
state_16       -865.3684    894.074     -0.968      0.333   -2617.724     886.987
state_17      -1723.2248    540.037     -3.191      0.001   -2781.679    -664.770
state_18      -1940.3699    788.132     -2.462      0.014   -3485.084    -395.656
state_19       5466.3532   6492.345      0.842      0.400   -7258.436    1.82e+04
state_20      -2880.7803   1130.654     -2.548      0.011   -5096.826    -664.735
state_21      -1473.2905    721.267     -2.043      0.041   -2886.951     -59.630
state_22       -991.8191    628.561     -1.578      0.115   -2223.779     240.141
state_23       -597.8072   1428.599     -0.418      0.676   -3397.816    2202.201
state_24      -1707.5719    629.195     -2.714      0.007   -2940.773    -474.370
state_25       -442.0176    909.100     -0.486      0.627   -2223.824    1339.789
state_26      -2412.4135    597.662     -4.036      0.000   -3583.811   -1241.016
state_27       2355.5290    730.027      3.227      0.001     924.700    3786.358
state_28      -1134.4914   2535.859     -0.447      0.655   -6104.695    3835.712
state_29      -1172.2626    698.814     -1.678      0.093   -2541.916     197.391
state_31       1165.3416    824.447      1.413      0.158    -450.548    2781.231
state_32        377.8292    828.985      0.456      0.649   -1246.954    2002.612
state_33       1869.8079   1604.832      1.165      0.244   -1275.611    5015.226
state_34        913.0951    854.567      1.068      0.285    -761.830    2588.020
state_36       -362.4774    818.258     -0.443      0.658   -1966.237    1241.282
state_37       1971.9927    843.800      2.337      0.019     318.172    3625.813
state_39      -2360.1192    562.584     -4.195      0.000   -3462.765   -1257.473
state_40       2136.7266   1263.276      1.691      0.091    -339.254    4612.707
state_41       -232.6560    682.994     -0.341      0.733   -1571.302    1105.990
state_42       -251.7872    819.834     -0.307      0.759   -1858.636    1355.061
state_44       2.096e+04   3681.015      5.693      0.000    1.37e+04    2.82e+04
state_45      -1126.9489    632.139     -1.783      0.075   -2365.920     112.022
state_47      -1398.5244    770.982     -1.814      0.070   -2909.624     112.576
state_48       -655.6758    446.854     -1.467      0.142   -1531.495     220.144
state_49        290.5334    734.010      0.396      0.692   -1148.104    1729.170
state_50       1512.9519   2513.160      0.602      0.547   -3412.761    6438.665
state_51       -883.9782    555.206     -1.592      0.111   -1972.165     204.209
state_53       2925.7971    655.571      4.463      0.000    1640.899    4210.695
state_54      -5587.3714   4033.789     -1.385      0.166   -1.35e+04    2318.727
state_55       -526.9584    616.833     -0.854      0.393   -1735.930     682.014
marital_1      3840.2854    159.131     24.133      0.000    3528.395    4152.176
marital_2       111.1834    245.748      0.452      0.651    -370.475     592.842
marital_3       154.8960    195.217      0.793      0.428    -227.722     537.514
marital_4      1289.3711    373.403      3.453      0.001     557.513    2021.229
marital_5      1354.1636    189.123      7.160      0.000     983.489    1724.839
occupation_1   1210.3476    288.275      4.199      0.000     645.338    1775.357
occupation_2  -1743.7130    405.617     -4.299      0.000   -2538.709    -948.717
occupation_3   1709.6229    195.558      8.742      0.000    1326.335    2092.911
occupation_4   -485.4401    318.444     -1.524      0.127   -1109.580     138.700
occupation_5   -599.5782    370.378     -1.619      0.105   -1325.507     126.350
occupation_6   -352.8976    405.601     -0.870      0.384   -1147.862     442.067
occupation_7  -1591.3370    402.724     -3.951      0.000   -2380.664    -802.010
occupation_8    708.1263    666.741      1.062      0.288    -598.665    2014.918
occupation_9  -1490.7744    786.819     -1.895      0.058   -3032.915      51.366
occupation_10  -381.8958    271.182     -1.408      0.159    -913.403     149.611
occupation_11  -394.5488    416.686     -0.947      0.344   -1211.240     422.143
occupation_12   114.5749    498.250      0.230      0.818    -861.978    1091.128
occupation_13  -221.2568    465.484     -0.475      0.635   -1133.591     691.078
occupation_14   -99.3327    648.161     -0.153      0.878   -1369.707    1171.041
occupation_15   651.8326    505.076      1.291      0.197    -338.101    1641.766
occupation_16  -655.7845   1176.910     -0.557      0.577   -2962.490    1650.921
occupation_17  6478.5874   1467.563      4.415      0.000    3602.211    9354.963
occupation_18  3893.3668   1070.141      3.638      0.000    1795.925    5990.809
education      1317.4121     51.981     25.344      0.000    1215.530    1419.294
age            1155.1915     97.101     11.897      0.000     964.876    1345.507
familysize      -73.9064     93.660     -0.789      0.430    -257.478     109.665
income         8941.6214    104.882     85.254      0.000    8736.056    9147.187
=================================================================================

The smallest eigenvalue is -7.26e-10. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\pmoha\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1934: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(eigvals[0]/eigvals[-1])

## Predict on entire training set and calculate mean_pinball_loss_train for all quantiles

In [35]:
mpl_train={}
for i,q in enumerate(models.keys()):
    y_pred=models[q].predict(results[q].params,X_train)
    mpl_train[q]=mean_pinball_loss(y_train.values.ravel(),y_pred,sample_weight=sample_weights_train,alpha=quantiles[i])
mpl_train

{'q1': 20.893509565491406,
 'q2': 77.98099633714666,
 'q3': 355.0541424715648,
 'q4': 475.4611229449974,
 'q5': 707.5757445423578,
 'q6': 740.956586076636,
 'q7': 681.3720826479515,
 'q8': 340.343942807233,
 'q9': 149.41295177290075}

## Predict on validation set and calculate mean_pinball_loss for all quantiles

In [36]:
mpl_val={}
for i,q in enumerate(models.keys()):
    y_pred = models[q].predict(results[q].params,X_val)
    mpl_val[q]=mean_pinball_loss(y_val.values.ravel(),y_pred,sample_weight=sample_weights_validation,alpha=quantiles[i])
mpl_val

{'q1': 20.81705721061542,
 'q2': 78.0797100273436,
 'q3': 355.6157963385023,
 'q4': 476.4900107764522,
 'q5': 708.939691182505,
 'q6': 742.1761536311748,
 'q7': 682.1758487500197,
 'q8': 340.28182587108313,
 'q9': 150.30438422891382}

## write mean pinball losses to a file

In [41]:
mpls={}
mpls['Data'] = ['mpl_train','mpl_val']
for q in mpl_train.keys():
    mpls[q]=[mpl_train[q],mpl_val[q]]
df = pd.DataFrame(mpls)
df.to_csv("QuantReg_MeanPinballLoss.csv",index=False)

## Predict on test set and create output data frame

In [37]:
test_df = test[id_column]
for q in models.keys():
    test_df[q] = models[q].predict(results[q].params,X_test)

C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)
C:\Users\pmoha\AppData\Local\Temp\ipykernel_13776\3625866153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[q] = models[q].predict(results[q].params,X_test)

In [38]:
test_df

,id,q1,q2,q3,q4,q5,q6,q7,q8,q9
0,741875,2.625284e-07,1.335710e-06,425.750467,537.623609,794.949463,1191.053305,1378.947152,2295.356291,5807.003469
1,741876,1.514087e-07,8.737303e-07,1415.464612,1703.422513,2406.402876,3354.311509,4029.781911,8537.502435,16650.559783
2,741877,1.887519e-07,9.372171e-07,453.669447,587.751701,862.119392,1223.645269,1479.823588,3676.267796,9543.561733
3,741878,2.285733e-07,1.510000e+02,875.965464,1076.339992,1635.075079,2487.974428,3009.968008,7049.815666,16005.727508
4,741879,2.326167e-07,8.549312e-07,728.736587,907.642629,1298.113729,1797.541851,2098.594787,4198.309816,8248.462514
...,...,...,...,...,...,...,...,...,...,...
185464,927339,1.017788e-07,9.338128e-07,1458.698941,1746.577024,2568.482532,3696.389567,4387.404839,10256.172128,23627.670392
185465,927340,3.161272e-07,1.510000e+02,507.201904,616.156098,898.721887,1373.792307,1664.355275,3394.964589,7833.424167
185466,927341,9.545203e-08,9.668035e-07,1183.539871,1469.515760,2198.549230,3261.360500,3956.618622,9267.020527,20249.523966
185467,927342,1.799198e-07,5.594043e-07,1378.417483,1631.776092,2258.041714,3042.298962,3488.234037,6678.035692,13116.177588
185468,927343,2.442851e-07,1.559499e-06,804.471473,972.365936,1442.681585,2141.551490,2592.248477,5818.622423,13939.118258

## write output to test_quantiles_LinearModelQuantReg.csv

In [39]:
test_df.to_csv('test_quantiles_LinearModelQuantReg.csv',index=False)